<nav>
    <div class="nav-wrapper">
        <div class="row">
            <form class="col s4" method="post" action="{{ route("beerList") }}">
                <div class="row">
                    <div class="input-field col s8">
                        <input placeholder="Search beers" name="name_beer" id="name_beer" type="text" class="validate">
                    </div>
                    <div class="input-field col s4">
                        <input type="submit" class="waves-effect waves-light btn" value="Search" name="search">
                    </div>
                </div>
            </form>
            <form class="col s4" method="post" action="{{ route("breweryList") }}">
                <div class="row">
                    <div class="input-field col s8">
                        <input placeholder="Search breweries" name="name_brewery" id="name_brewery" type="text" class="validate">
                    </div>
                    <div class="input-field col s4">
                        <input type="submit" class="waves-effect waves-light btn" value="Search" name="search">
                    </div>
                </div>
            </form>
            <div class="col s4">
                <a href="{{ route("index") }}" id="download-button" class="waves-effect waves-light btn">Display random beer</a>
            </div>
        </div>
        </div>
    </nav>