<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block metaTitle %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}


</head>
<body>
{% include "_search" %}
{% if errors is not empty %}
    <div class="card-panel red lighten-2">
    {%for error in errors %}
        <p>For {{ error }}</p>
    {% endfor %}
    </div>
{% endif %}
{% block content %}

{% endblock content %}

<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            Developed by Emilio Camacho
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>