{% extends "base" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>

            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s4">
                            <img src="{{ beer.getImage() }}">
                            {% if beer.getAbv() %}
                                <span class="red" title="ABV percentage of the beer">
                                            {{ beer.getAbv() }}% ABV
                                        </span>
                            {% endif %}
                            {% if beer.getIbu() %}
                                <span class="blue right" title="Measured IBUs of the beer">
                                            {{ beer.getIbu() }} IBU
                                        </span>
                            {% endif %}
                        </div>
                        <div class="col s8">
                            <h5 class="header center orange-text">{{ beer.getName() }}</h5>
                              <span class="black-text">
                                {{ beer.description }}
                              </span>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

        </div>
    </div>


    <div class="container">
        <div class="section">
            <h4 class="center"><a href="{{ route("brewery",{id:brewery.getId()}) }}">
                    <img src="{{ beer.getBrewery().getIcon() }}" alt="" class="circle responsive-img">
                    {{ beer.getBrewery().getName() }}</a>
            </h4>
            <!--   Icon Section   -->
            <div class="row">
                {% for otherBeer in brewery.getBeers() if otherBeer.getId() != beer.getId() %}
                <div class="col s4">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="{{ otherBeer.getIcon() }}" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s10">
                              <span class="black-text">
                                <a href="{{ route("beer",{id:otherBeer.getId()}) }}">{{ otherBeer.getName() }}</a>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <br><br>

        <div class="section">

        </div>
    </div>

{% endblock %}