{% extends "base" %}
{% block content %}
    {% if beers is not empty %}
        <div class="row">
        <ul class="collection col s12">
        {% for beer in beers %}
            <li class="collection-item avatar">
                <img src="{{ beer.getIcon() }}" alt="" class="circle responsive-img">
                <span class="title">
                    <a href="{{ route("beer", {id:beer.getId()}) }}">
                        {{ beer.getName() }}
                    </a>
                </span>
                <p>{{ beer.getDescription() | truncate(150) }} <br>
                    <a href="{{ route("brewery", {id:beer.getBrewery().getId()}) }}">
                        {{ beer.getBrewery().getName() }}
                    </a>
                </p>
            </li>
        {% endfor %}
        </ul>
        </div>
    {% elseif messages is not empty %}
        <div class="card-panel red lighten-2">
            {% for key, messageForKey in messages %}
                {% for message in messageForKey %}
                    <p>For {{ key }}: {{ message }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <div class="card-panel red lighten-2">Not beer found with name: {{ search }}</div>
    {% endif %}

{% endblock %}