{% extends "base" %}
{% block content %}
    {% if breweries is not empty %}
        <div class="row">
        <ul class="collection col s12">
        {% for brewery in breweries %}
            <li class="collection-item avatar">
                <img src="{{ brewery.getIcon() }}" alt="" class="circle responsive-img">
                <span class="title">
                    <a href="{{ route("brewery", {id:brewery.getId()}) }}">
                        {{ brewery.getName() }}
                    </a>
                </span>
                <p>{{ brewery.getDescription() | truncate(150) }} <br>
                </p>
            </li>
        {% endfor %}
        </ul>
        </div>
    {% elseif messages is not empty %}
        <div class="card-panel red lighten-2">
            {% for key, messageForKey in messages %}
                {% for message in messageForKey %}
                    <p>For {{ key }}: {{ message }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <div class="card-panel red lighten-2">Not brewery found with name: {{ search }}</div>
    {% endif %}

{% endblock %}