{% extends "base" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>

            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <img src="{{ brewery.getImage() }}">
                        </div>
                        <div class="col s6">
                            <h5 class="header center orange-text">{{ brewery.getName() }}</h5>
                              <span class="black-text">
                                {{ brewery.description }}
                              </span>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

        </div>
    </div>


    <div class="container">
        <div class="section">
            <h4 class="center">Beers</h4>
            <!--   Icon Section   -->
            <div class="row">
                {% for beer in brewery.getBeers() %}
                <div class="col s4">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="{{ beer.getIcon() }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s10">
                              <span class="black-text">
                                <a href="{{ route("beer",{id:beer.getId()}) }}">{{ beer.getName() }}</a>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <br><br>

        <div class="section">

        </div>
    </div>

{% endblock %}